@import './base.css';


::-webkit-scrollbar{
  display: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 50vh;
    margin: 5% auto;
    justify-content: space-around;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

