@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
  padding: 3px;
}

::-webkit-scrollbar{
  color: var(--color-bg);
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00bd7e;
}

